{{ define "main" }}
  <section
    class="flex flex-col gap-12 lg:gap-20 md:w-[70%] mx-auto max-w-[1024px]"
  >
    <div>
      <img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" />
    </div>
    <div class="flex flex-col gap-8 max-w-[560px]">
      <div class="flex flex-col gap-2">
        <span class="text-sm">{{ .Params.location }}</span>
        <h1 class="heading uppercase">{{ .Title }}</h1>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
        perspiciatis sit voluptatibus provident veritatis, repellendus
        reiciendis quaerat. Quo, aspernatur alias praesentium accusamus quam
        sint culpa cum quas deleniti ipsam vero! Corrupti inventore possimus ad
        vitae, at voluptates laborum porro nostrum similique? Atque, ducimus
        rem. Minima incidunt natus nisi odio expedita cumque aliquid officiis
        veritatis esse soluta omnis vero in eum, commodi, magni ex consequatur
        ratione impedit sunt reiciendis quis porro? Officiis, at?
      </p>
    </div>
    <div>
      <div class="grid grid-cols-2 gap-8">
        {{ range .Params.additional_info }}
          <div class="max-w-[240px] flex flex-col gap-2">
            <h1 class="content-heading">{{ .name }}</h1>
            <h2 class="content-subheading">{{ .value }}</h2>
          </div>
        {{ end }}
      </div>
    </div>
    <div class="flex flex-col justify-between items-center gap-8">
      {{ with .Prev }}
        <div class="flex flex-col gap-2 w-full text-right">
          <span class="text-xs">Next</span>
          <a class="uppercase text-sm" href="{{ .RelPermalink }}"
            >{{ .Title }}</a
          >
        </div>
      {{ end }}

      {{ with .Next }}
        <div class="flex flex-col gap-2 w-full">
          <span class="text-xs">Previous</span>
          <a class="uppercase text-sm" href="{{ .RelPermalink }}"
            >{{ .Title }}</a
          >
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
