{{ define "main" }}
  <section
    class=" flex flex-col sm:flex-row gap-12 justify-end sm:justify-start sm:items-end h-[calc(100vh-10rem)]"
  >
    <iframe
      src="{{ .Params.map_url }}"
      class="sm:w-[40%] h-[240px]"
      style="border:0;"
      allowfullscreen="false"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>

    <div class="flex flex-col justify-end gap-4 ">
      <div class="uppercase flex flex-col gap-2">
        <span class="text-sm">Contact</span>
      </div>
      <div class="flex flex-col gap-8">
        <span>
          {{ .Params.address_1 }} <br />
          {{ .Params.address_2 }}<br />
          {{ .Params.address_3 }}
        </span>
        <div class="flex flex-col gap-2">
          {{ range .Params.additional_info }}
            <span> {{ .name }} {{ .value }} </span>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
