{{ define "main" }}
  <section class="flex flex-col justify-end gap-4 h-[calc(100vh-10rem)]">
    <div class="uppercase flex flex-col gap-2">
      <span class="text-sm">Contact</span>
    </div>
    <div class="flex flex-col gap-8">
      <span>
        Jl. Balikpapan 1 No 102 GKB <br />
        Jawa Timur — 61151<br />
        Indonesia
      </span>
      <div class="flex flex-col gap-2">
        <span> Email touch@beeha.com </span>
        <span> Phone +62 822 3121 7430 </span>
        <span> Instagram @behaa.architecture </span>
      </div>
    </div>
  </section>
{{ end }}
