{{ define "main" }}
  <section
    class=" flex flex-col sm:flex-row gap-12 justify-end sm:justify-start sm:items-end h-[calc(100vh-10rem)]"
  >
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3953.4811947548324!2d110.393202973901!3d-7.738673376706803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a590062aacdfb%3A0x7986cc4fb2d9e388!2sLAB28%20HQ!5e0!3m2!1sid!2sid!4v1745623550221!5m2!1sid!2sid"
      class="sm:w-[40%] h-[240px]"
      style="border:0;"
      allowfullscreen="false"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>

    <div class="flex flex-col justify-end gap-4 ">
      <div class="uppercase flex flex-col gap-2">
        <span class="text-sm">Contact</span>
      </div>
      <div class="flex flex-col gap-8">
        <span>
          Jl. Balikpapan 1 No 102 GKB <br />
          Jawa Timur — 61151<br />
          Indonesia
        </span>
        <div class="flex flex-col gap-2">
          <span> Email touch@beeha.com </span>
          <span> Phone +62 822 3121 7430 </span>
          <span> Instagram @behaa.studio </span>
        </div>
      </div>
    </div>
  </section>
{{ end }}
